{% set page = {
  title: 'Index'
} %}

{% extends "templates/default.html" %}

{% block body %}

<div class="container">
  <ul>
    <li><a href="styleguide.html">Styleguide</a></li>
    <li><a href="home.html">Homepage</a></li>
    <li><a href="department.html">Department Page</a></li>
    <li><a href="department-alt.html">Department Page w/ hero background video</a></li>
    <li><a href="landing.html">Landing Page</a></li>
    <li><a href="tertiary.html">Tertiary Page</a></li>
    <li><a href="program.html">Program Page</a></li>
    <li><a href="program-alt.html">Program Page Alt</a></li>
    <li><a href="program-finder.html">Program Finder</a></li>
    <li><a href="listing.html">Listing Page</a></li>
    <li><a href="faculty.html">Faculty</a></li>
    <li><a href="organization-listing.html">Organization Listing Page</a></li>
    <li><a href="people-listing.html">People Listing Page</a></li>
    <li><a href="stories-listing.html">Stories Listing Page</a></li>
  </ul>

</div>

{% endblock %}
