{% set page = {
  title: 'People Listing Page'
} %}

{% extends "templates/default.html" %}

{% block body %}

<main id="main-content">
  <div class="main container container--clear">
    {% include "modules/_breadcrumb.html" %}
    <h1>People</h1>
    <div class="people-listing">
      <label for="people-search" class="hide">Search</label>
      <input id="people-search" class="list__input" type="search" placeholder="Search">
      <hr class="hr--small">
      <div class="dropdown__filters">
        <span class="dropdown__label label">Filter by:</span>
        <label for="department" class="hide">Select department</label>
        <select class="dropdown__select" id="department">
          <option>Department</option>
          <option>Praesentium, doloremque.</option>
          <option>Temporibus, recusandae.</option>
          <option>Quia, excepturi.</option>
          <option>In, cumque.</option>
          <option>Aspernatur, voluptatibus!</option>
        </select>

        <label for="faculty-staff" class="hide">Select faculty/staff</label>
        <select class="dropdown__select" id="faculty-staff">
          <option>Faculty/Staff</option>
          <option>Praesentium, doloremque.</option>
          <option>Temporibus, recusandae.</option>
          <option>Quia, excepturi.</option>
          <option>In, cumque.</option>
          <option>Aspernatur, voluptatibus!</option>
        </select>

        <label for="research-initiative" class="hide">Select research initiative</label>
        <select class="dropdown__select" id="research-initiative">
          <option>Research Initiative</option>
          <option>Praesentium, doloremque.</option>
          <option>Temporibus, recusandae.</option>
          <option>Quia, excepturi.</option>
          <option>In, cumque.</option>
          <option>Aspernatur, voluptatibus!</option>
        </select>

        <label for="position-type" class="hide">Select position type</label>
        <select class="dropdown__select" id="position-type">
          <option>Position Type</option>
          <option>Praesentium, doloremque.</option>
          <option>Temporibus, recusandae.</option>
          <option>Quia, excepturi.</option>
          <option>In, cumque.</option>
          <option>Aspernatur, voluptatibus!</option>
        </select>

        <div class="dropdown__filters__group">
          <button class="cta cta--red">
            Apply Filters
          </button>
          <br>
          <a href="#" class="cta__link">
            <span>Reset Filters</span>
          </a>
        </div>



      </div>

      <div class="list__search__group">
        <span class="list__search__label label">Search by Letter:</span>

        <a href="#" class="list__search__link active">A</a>
        <a href="#" class="list__search__link">B</a>
        <a href="#" class="list__search__link">C</a>
        <a href="#" class="list__search__link">D</a>
        <a href="#" class="list__search__link">E</a>
        <a href="#" class="list__search__link">F</a>
        <a href="#" class="list__search__link">G</a>
        <a href="#" class="list__search__link">H</a>
        <a href="#" class="list__search__link">I</a>
        <a href="#" class="list__search__link">J</a>
        <a href="#" class="list__search__link">K</a>
        <a href="#" class="list__search__link">L</a>
        <a href="#" class="list__search__link">M</a>
        <a href="#" class="list__search__link">N</a>
        <a href="#" class="list__search__link">O</a>
        <a href="#" class="list__search__link">P</a>
        <a href="#" class="list__search__link">Q</a>
        <a href="#" class="list__search__link">R</a>
        <a href="#" class="list__search__link">S</a>
        <a href="#" class="list__search__link">T</a>
        <a href="#" class="list__search__link">U</a>
        <a href="#" class="list__search__link">V</a>
        <a href="#" class="list__search__link">W</a>
        <a href="#" class="list__search__link">X</a>
        <a href="#" class="list__search__link">Y</a>
        <a href="#" class="list__search__link">Z</a>
      </div>
      <div class="list__result">
        <span>
          157 Items found
        </span>
      </div>
      <div class="list">
        <div class="grid grid--4">
          <div>
            <div class="block-small">
              {{ ph('173x230', 'block-smaller-bottom') }}
              <h2 class="list__contact__headline">
                <a href="#" class="contact__name">Jerome F. Hajjar</a>
              </h2>
              <br>
              <div class="caption">CDM Smith Professor and Chair</div>
              <a href="#" class="contact__title">Civil and Environmental Engineering</a>
              <br>
              <div class="list__heading">Contact</div>
              <ul class="caption caption__link__list--alt">
                <li>
                  <a href="#" class="caption__link">jf.hajjar@northeastern.edu
                  </a>
                </li>
                <li>
                  617-373-3242
                </li>
              </ul>


            </div>
          </div>
          <div>
            <div class="block-small">
              {{ ph('173x230', 'block-smaller-bottom') }}
              <h2 class="list__contact__headline">
                <a href="#" class="contact__name">Jerome F. Hajjar</a>
              </h2>
              <br>
              <div class="caption">CDM Smith Professor and Chair</div>
              <a href="#" class="contact__title">Civil and Environmental Engineering</a>
              <br>
              <div class="list__heading">Contact</div>
              <ul class="caption caption__link__list--alt">
                <li>
                  <a href="#" class="caption__link">jf.hajjar@northeastern.edu
                  </a>
                </li>
                <li>
                  617-373-3242
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="block-small">
              {{ ph('173x230', 'block-smaller-bottom') }}
              <h2 class="list__contact__headline">
                <a href="#" class="contact__name">Jerome F. Hajjar</a>
              </h2>
              <br>
              <div class="caption">CDM Smith Professor and Chair</div>
              <a href="#" class="contact__title">Civil and Environmental Engineering</a>
              <br>
              <div class="list__heading">Contact</div>
              <ul class="caption caption__link__list--alt">
                <li>
                  <a href="#" class="caption__link">jf.hajjar@northeastern.edu
                  </a>
                </li>
                <li>
                  617-373-3242
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="block-small">
              {{ ph('173x230', 'block-smaller-bottom') }}
              <h2 class="list__contact__headline">
                <a href="#" class="contact__name">Jerome F. Hajjar</a>
              </h2>
              <br>
              <div class="caption">CDM Smith Professor and Chair</div>
              <a href="#" class="contact__title">Civil and Environmental Engineering</a>
              <br>
              <div class="list__heading">Contact</div>
              <ul class="caption caption__link__list--alt">
                <li>
                  <a href="#" class="caption__link">jf.hajjar@northeastern.edu
                  </a>
                </li>
                <li>
                  617-373-3242
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr class="hr--small">
        <div class="grid grid--4">
          <div>
            <div class="block-small">
              {{ ph('173x230', 'block-smaller-bottom') }}
              <h2 class="list__contact__headline">
                <a href="#" class="contact__name">Jerome F. Hajjar</a>
              </h2>
              <br>
              <div class="caption">CDM Smith Professor and Chair</div>
              <a href="#" class="contact__title">Civil and Environmental Engineering</a>
              <br>
              <div class="list__heading">Contact</div>
              <ul class="caption caption__link__list--alt">
                <li>
                  <a href="#" class="caption__link">jf.hajjar@northeastern.edu
                  </a>
                </li>
                <li>
                  617-373-3242
                </li>
              </ul>


            </div>
          </div>
          <div>
            <div class="block-small">
              {{ ph('173x230', 'block-smaller-bottom') }}
              <h2 class="list__contact__headline">
                <a href="#" class="contact__name">Jerome F. Hajjar</a>
              </h2>
              <br>
              <div class="caption">CDM Smith Professor and Chair</div>
              <a href="#" class="contact__title">Civil and Environmental Engineering</a>
              <br>
              <div class="list__heading">Contact</div>
              <ul class="caption caption__link__list--alt">
                <li>
                  <a href="#" class="caption__link">jf.hajjar@northeastern.edu
                  </a>
                </li>
                <li>
                  617-373-3242
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="block-small">
              {{ ph('173x230', 'block-smaller-bottom') }}
              <h2 class="list__contact__headline">
                <a href="#" class="contact__name">Jerome F. Hajjar</a>
              </h2>
              <br>
              <div class="caption">CDM Smith Professor and Chair</div>
              <a href="#" class="contact__title">Civil and Environmental Engineering</a>
              <br>
              <div class="list__heading">Contact</div>
              <ul class="caption caption__link__list--alt">
                <li>
                  <a href="#" class="caption__link">jf.hajjar@northeastern.edu
                  </a>
                </li>
                <li>
                  617-373-3242
                </li>
              </ul>
            </div>
          </div>
          <div>
            <div class="block-small">
              {{ ph('173x230', 'block-smaller-bottom') }}
              <h2 class="list__contact__headline">
                <a href="#" class="contact__name">Jerome F. Hajjar</a>
              </h2>
              <br>
              <div class="caption">CDM Smith Professor and Chair</div>
              <a href="#" class="contact__title">Civil and Environmental Engineering</a>
              <br>
              <div class="list__heading">Contact</div>
              <ul class="caption caption__link__list--alt">
                <li>
                  <a href="#" class="caption__link">jf.hajjar@northeastern.edu
                  </a>
                </li>
                <li>
                  617-373-3242
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        {% include "modules/_pagination.html" %}
      </div>
    </div>
  </div>
</main>

{% endblock %}