{% set page = {
  title: 'Styleguide'
} %}

{% extends "templates/default.html" %}

{% block body %}

<main id="main-content">
  <div class="container">
    <h1>H1 Headline</h1>
    <h2>H2 Headline</h2>
    <h3>H3 Headline</h3>
    <h4>H4 Headline</h4>
    <h5>H5 Headline</h5>
    <h6>H6 Headline</h6>

    <p class="p-intro">Solving today's greatest health challenges requires a new generation of biomedical engineers. An aging U.S. population
    is driving demand for better, more <a href="#">cost-effective medical devices</a>. Recent high-profile reports on failure rates in
    artificial hips underline the critical need for improved engineering and materials design of long-lasting devices.</p>
    <p>Our interdisciplinary Master of Science (MS) program in Bioengineering is designed for students with a BS in
    engineering or physics* who would like to continue or move their career in the direction of Bioengineering; students
    who would like to strengthen their academic credentials/portfolio prior to applying to medical school; <a href="#">and workers in
    the biotech industry who would like to strengthen</a> their technical background, broaden future employment opportunities,
    and/or re-direct their specific expertise.</p>
  </div>
</main>


{% endblock %}