<section class="container--beige expand__container--list" aria-label="link group">
  <div class="container expand__container__group--list">
    <div class="block-spacing">
      <div class="grid grid--4">
        <div class="expand__grid__item">
          <button class="expand__accordion__toggle">
            <h4 class="h4-border expand__headline">
              {{ svgstore('cross', 'Toggle Accordion', 'expand__accordion__toggle__icon') }}
              <span class="expand__accordion__toggle__text">
                Research Thrusts extra long title test
              </span>
            </h4>
          </button>
          <div class="expand__accordion__content">
            <div class="expand__accordion__interior">
              <div class="button-group">
                <a href="#" class="list__link">Civil Infrastructure Security</a>
                <a href="#" class="list__link">Environmental Health</a>
                <a href="#" class="list__link">Sustainable Resource Engineering</a>
              </div>
            </div>
          </div>
        </div>
        <div class="expand__grid__item">
          <button class="expand__accordion__toggle">
            <h4 class="h4-border expand__headline">
              {{ svgstore('cross', 'Toggle Accordion', 'expand__accordion__toggle__icon') }}
              <span class="expand__accordion__toggle__text">
                Technical Areas
              </span>
            </h4>
          </button>
          <div class="expand__accordion__content">
            <div class="expand__accordion__interior">
              <div class="button-group">
                <a href="#" class="list__link">Construction Management</a>
                <a href="#" class="list__link">Environmental Engineering</a>
                <a href="#" class="list__link">Structural Engineering</a>
                <a href="#" class="list__link">Geotechnical/Geoenvironmental Engineering</a>
                <a href="#" class="list__link">Transportation Engineering</a>
              </div>
            </div>
          </div>
        </div>
        <div class="expand__grid__item">
          <button class="expand__accordion__toggle">
            <h4 class="h4-border expand__headline">
              {{ svgstore('cross', 'Toggle Accordion', 'expand__accordion__toggle__icon') }}
              <span class="expand__accordion__toggle__text">
                Undergraduate Studies
              </span>
            </h4>
          </button>
          <div class="expand__accordion__content">
            <div class="expand__accordion__interior">
              <div class="button-group">
                <a href="#" class="list__link">BS Civil Engineering</a>
                <a href="#" class="list__link">BS Environmental Engineering</a>
                <a href="#" class="list__link">BS/MS Civil Engineering</a>
                <a href="#" class="list__link">BS/MS Engineering Management</a>
                <a href="#" class="list__link">BS/MS Environmental Engineering</a>
                <a href="#" class="list__link">BS/MS Sustainable Building Systems</a>
                <a href="#" class="list__link">Minor Architectural Engineering</a>
                <a href="#" class="list__link">Minor Civil Engineering</a>
                <a href="#" class="list__link">Communications Program</a>
              </div>
            </div>
          </div>
        </div>
        <div class="expand__grid__item">
          <button class="expand__accordion__toggle">
            <h4 class="h4-border expand__headline">
              {{ svgstore('cross', 'Toggle Accordion', 'expand__accordion__toggle__icon') }}
              <span class="expand__accordion__toggle__text">
                Graduate Studies
              </span>
            </h4>
          </button>
          <div class="expand__accordion__content">
            <div class="expand__accordion__interior">
              <div class="button-group">
                <a href="#" class="list__link">MS Civil Engineering</a>
                <a href="#" class="list__link">MS Engineering and Public Policy</a>
                <a href="#" class="list__link">MS Environmental Engineering</a>
                <a href="#" class="list__link">MS Sustainable Building Systems</a>
                <a href="#" class="list__link">PhD Civil Engineering</a>
                <a href="#" class="list__link">Graduate Fellowship Opportunities</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="expand__btn expand__btn--list">
    {{ svgstore('plus', 'Expand Section', 'expand__button--open') }}
    {{ svgstore('minus', 'Collapse Section', 'expand__button--close') }}
  </button>
</section>

<section class="container" aria-label="stories">
  <div class="block">
    <div class="grid grid--2-3">
      <div class="zero">
        <h2>Spotlight <span class="text-black">Stories</span></h2>
      </div>
      <div class="button-text-right">
        <a href="#" class="button button--black-red button--block">
          <span class="button__text">More Spotlight Stories</span>
          <span class="button__arrow">
            {{ svgstore('arrow') }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="grid grid--2">
      <div class="stories__block animate-In">
        <div class="stories__image">
          {{ ph('250') }}
        </div>
        <div class="stories__content">
          <div class="stories__headline">
            David Walsh<br>
            PhD, Bioengineering
          </div>
          <p>
            Bioengineering PhD candidate searches for better treatment for age-​​related mac­ular degen­er­a­tion.
          </p>
          <a href="#" class="button button--black-red button--inline-block">
            <span class="button__text">Read More</span>
            <span class="button__arrow">
              {{ svgstore('arrow') }}
            </span>
          </a>
        </div>
      </div>
      <div class="stories__block animate-In">
        <div class="stories__image">
          {{ ph('250') }}
        </div>
        <div class="stories__content">
          <div class="stories__headline">
            David Walsh<br>
            PhD, Bioengineering
          </div>
          <p>
            Bioengineering PhD candidate searches for better treatment for age-​​related mac­ular degen­er­a­tion.
          </p>
          <a href="#" class="card__video__group">
            {{ svgstore('video', '', 'card__video__icon') }}
            <span class="card__video__text">Watch</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container--black" aria-label="Special Announcement">
  <div class="container">
    <div class="block-spacing">
      <div class="grid grid--3-2">
        <div>
          {{ ph('375x250', 'vertical-line-desktop') }}
        </div>
        <div>
          <h3>Special Announcement Module with Image</h3>
          <p class="text-white">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultricies euismod dui, sed porta libero
            molestie vel.
            Mauris at ipsum faucibus, efficitur eros at, mattis urna. Fusce sapien neque, venenatis id nisi id, iaculis
            varius
            augue. Mauris neque ipsum, suscipit sed nisl non.
          </p>
          <a href="#" class="button button--inline-block text-white">
            <span class="button__text">
              Read more
            </span>
            <span class="button__arrow button__arrow--red">
              {{ svgstore('arrow') }}
            </span>
          </a>
        </div>
      </div>
      <div class="block--top">
        <div class="container--narrow">
          <div class="vertical-line-desktop">
            <h3>Text-Only Special Announcement Module</h3>
            <p class="text-white">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultricies euismod dui, sed porta libero
              molestie vel.
              Mauris at ipsum faucibus, efficitur eros at, mattis urna. Fusce sapien neque, venenatis id nisi id,
              iaculis varius
              augue. Mauris neque ipsum, suscipit sed nisl non, vestibulum porta sem. Class aptent taciti sociosqu ad
              litora torquent
              per conubia nostra.
            </p>
            <a href="#" class="button button--inline-block text-white">
              <span class="button__text">
                Read more
              </span>
              <span class="button__arrow button__arrow--red">
                {{ svgstore('arrow') }}
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container--red" aria-label="Engineering">
  <div class="container">
    <div class="block-spacing">
      <div class="container--narrow block-center text-center zero">
        <div class="h2 text-black">Engineering <span class="text-white">in action</span>
        </div>
      </div>
      <div class="feature feature--slider">
        {% set feature = {
          video: true,
          headline: '<h4>World-Renowned Cooperative Education</h4>',
          white: true
        } %}
        {% include "modules/_feature.html" %}
        {% set feature = {
          video: false,
          headline: '<h4>World-Renowned Cooperative Education</h4>',
          white: true
        } %}
        {% include "modules/_feature.html" %}
        {% include "modules/_feature.html" %}
      </div>
    </div>
  </div>
</section>

<section class="container" aria-label="news">
  <div class="block">
    <div class="grid grid--2-3">
      <div class="zero">
        <h3 class="h2">Department <span class="text-black">News</span></h3>
      </div>

      <div class="button-text-right">
        <a href="#" class="button button--inline-block button--black-red">
          <span class="button__text">More news</span>
          <span class="button__arrow">
            {{ svgstore('arrow') }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="grid grid--slider">
      <div>
        {% include "modules/_news.html" %}
      </div>
      <div>
        {% include "modules/_news.html" %}
      </div>
      <div>
        {% include "modules/_news.html" %}
      </div>
    </div>
  </div>
</section>

<section class="container--beige" aria-label="events">
  <div class="container">
    <div class="block-spacing">
      <div class="grid grid--2-3">
        <div class="zero">
          <h2>Upcoming <span class="text-black">Events</span></h2>
        </div>

        <div class="button-text-right">
          <a href="#" class="button button--inline-block button--black-red">
            <span class="button__text">More Events</span>
            <span class="button__arrow">
              {{ svgstore('arrow') }}
            </span>
          </a>
        </div>
      </div>
      <div class="block--top">
        <div class="grid grid--slider">
          <div>
            {% set events = {
              title: "2018 Klein Lecture: Urban Engineering: New Designs for a Resilient and Sustainable Future"
            } %}
            {% include "modules/_events.html" %}
          </div>
          <div>
            {% set events = {
              title: "Visualizing our Choices and their Effect on the Environment"
            } %}
            {% include "modules/_events.html" %}
          </div>
          <div>
            {% set events = {
              title: "Left Brain, Right Brain: The Intersection of Metrics & Design"
            } %}
            {% include "modules/_events.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>