<div class="tabbed">
    <div class="tabbed__nav">
      <ul class="tabbed__nav__list">
        <li class="tabbed__nav__item">
          <button class="tabbed__nav__button">
            Biography
          </button>
        </li>
        <li class="tabbed__nav__item">
          <button class="tabbed__nav__button">
            Research
          </button>
        </li>
        <li class="tabbed__nav__item">
          <button class="tabbed__nav__button">
            Publications
          </button>
        </li>
        <li class="tabbed__nav__item">
          <button class="tabbed__nav__button">
            Related News
          </button>
        </li>
      </ul>
    </div>
    <div class="tabbed__content">
      <div class="tabbed__main">
        <button class="accordion__toggle tabbed__toggle">{{ svgstore('cross', 'Toggle Accordion', 'accordion__toggle__icon') }}
        <span class="accordion__toggle__text">
          Biography
        </span></button>
        <div class="tabbed__content__item">
          <div class="tabbed__content__interior">
            <h2 class="h4">About</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh neque, interdum non mi sed, blandit euismod quam. Sed nisl est, congue vel sodales non, feugiat nec mauris. Cras venenatis, mauris at mattis pretium, est elit auctor dui, faucibus mollis diam felis ut lectus. Aliquam ligula metus, tristique eu tincidunt in, auctor at lorem. Ut lacus risus, pharetra volutpat mi sit amet, feugiat varius nisi. Vivamus diam ipsum, porta sit amet rutrum eu, vehicula quis lorem. Etiam vestibulum urna porttitor, scelerisque nibh id, pretium enim. Vestibulum mauris dolor, rutrum sed diam et, elementum lacinia tellus. Praesent non nibh elementum, hendrerit nibh at, consectetur purus. Fusce vitae turpis vehicula, aliquam odio id, fringilla urna. Proin condimentum pharetra orci, et volutpat ex consequat rhoncus.</p>
            <div class="split">
              <div class="split__side">
                <h2 class="h4">Education</h2>
              </div>
              <div class="split__side">
                <p>PhD, Structural Engineering, Cornell University, 1988<br>MS, Structural Engineering, Cornell University, 1985<br>BS, Engineering Mechanics, Yale University, 1982</p>
              </div>
            </div>
            <div class="split">
              <div class="split__side">
                <h2 class="h4">Licensure</h2>
              </div>
              <div class="split__side">
                <p>Professional Engineer: Illinois, Minnesota</p>
              </div>
            </div>
            <div class="split">
              <div class="split__side">
                <h2 class="h4">Honors &amp; Awards</h2>
              </div>
              <div class="split__side">
                <ul>
                  <li>2018 Robert D. Klein Lectureship Award</li>
                  <li>2016 ASCE Moisseiff Award</li>
                  <li>2015 BSCES Clemens Herschel Award</li>
                  <li>2013 SEI Fellow</li>
                  <li>2010 Popular Mechanics Breakthrough Award</li>
                  <li>2009 ASCE Shortridge Hardesty Award</li>
                  <li>2007 ASCE Fellow</li>
                  <li>2005 AISC T. R. Higgins Lectureship Award</li>
                  <li>2004 AISC Special Achievement Award</li>
                  <li>2003 ASCE Walter L. Huber Civil Engineering Research Prize</li>
                  <li>2000 ASCE Norman Medal</li>
                </ul>
              </div>
            </div>
            <div class="split">
              <div class="split__side">
                <h2 class="h4">Teaching Interests</h2>
              </div>
              <div class="split__side">
                <p>Theoretical knowledge, practical skills and ethical values and understanding of social and cultural values as related to Engineering.</p>
              </div>
            </div>
            <div class="split">
              <div class="split__side">
                <h2 class="h4">Leadership Positions</h2>
              </div>
              <div class="split__side">
                <ul>
                  <li>World Congress on Wireless Technology, 2019</li>
                  <li>Global Meting on Big Data Analytics and Data Processing, 2019</li>
                  <li>5th International Conference and Exhibition on Nanotechnology, Artificial Intelligence and IOT, 2019</li>
                  <li>10th World Congress on Biosensors and Bioelectronics, 2018</li>
                </ul>
              </div>
            </div>
            <div class="split">
              <div class="split__side">
                <h2 class="h4">Professional Affiliations</h2>
              </div>
              <div class="split__side">
                <ul>
                  <li>American Concrete Institute</li>
                  <li>American Institute of Steel Construction</li>
                  <li>American Society of Civil Engineers Structural Engineering Institute</li>
                  <li>Architectural Institute of Japan</li>
                  <li>Association for International Cooperation and Research in Steel-Concrete Composite Structures</li>
                  <li>Consortium of Universities for Research in Earthquake Engineering</li>
                  <li>Earthquake Engineering Research Institute</li>
                  <li>European Association for Earthquake Engineering</li>
                  <li>International Association of Bridge and Structural Engineering</li>
                  <li>Precast/Prestressed Concrete Institute</li>
                  <li>Research Council on Structural Connections</li>
                  <li>Structural Stability Research Council</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <button class="accordion__toggle tabbed__toggle">{{ svgstore('cross', 'Toggle Accordion', 'accordion__toggle__icon') }}
        <span class="accordion__toggle__text">
          Research
        </span></button>
        <div class="tabbed__content__item">
          <div class="tabbed__content__interior">
            <div class="tabbed__intro">
              <h2 class="h4">Research Focus</h2>
              <p>Steel and composite steel/concrete structures; earthquake engineering; structural stability; large-scale experimental testing of structures; regional simulation</p>
              <div class="align-left zero">
                <figure class="image__container">
                  <div class="image">
                    {{ ph('340x230') }}
                  </div>
                  <figcaption class="image__caption">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus mauris, commodo
                  </figcaption>
                </figure>
              </div>
              <p>Aenean pretium faucibus fermentum. In sagittis, purus eget tempor facilisis, justo mauris feugiat dui, ac dignissim ex felis a sapien. Curabitur fringilla vehicula tempus. In eu tortor et sapien bibendum iaculis. In auctor suscipit mauris, ac efficitur nulla aliquam a. Duis hendrerit sapien a enim bibendum, nec accumsan justo cursus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras ut nisi sed nisl sodales egestas ut ac velit. Nunc lobortis condimentum odio, nec vulputate orci vestibulum ut. Etiam sed quam ultrices, ullamcorper dolor nec, mollis neque. Morbi tincidunt consequat.</p>
            </div>
            {% include "modules/_callout.html" %}
            <div class="split">
              <div class="split__side">
                <h2 class="h4">Selected Research Projects</h2>
              </div>
              <div class="split__side">
                <ul>
                  <li>Post-Disaster Infrastructure Assessment with Non-conventional Operations (PIANO) of Unmanned Aerial Systems<br>Co-Principal Investigator, Department of Homeland Security</li>
                  <li>CRISP Type 2: Identification and Control of Uncertain, Highly Interdependent Processes Involving Humans with Applications to Resilient Emergency Health Response<br>Co-Principal Investigator, National Science Foundation</li>
                  <li>Collaborative Research: Transforming Building Structural Resilience Through Innovation in Steel Diaphragms<br>Co-Principal Investigator, National Science Foundation</li>
                </ul>
              </div>
            </div>
            <div class="split">
              <div class="split__side">
                <h2 class="h4">Research Centers and Institutes</h2>
              </div>
              <div class="split__side">
                <ul>
                  <li>Principal Investigator and Co-Director<br><a href="#">Puerto Rico Testsite for Exploring Contamination Threats (PROTECT)</a></li>
                  <li>Director<br><a href="#">Another Research Center</a></li>
                  <li>Affiliations:<br><a href="#">Research Center or Institute 1</a><br><a href="#">Research Center or Institute 2</a><br><a href="#">Research Center or Institute 3</a></li>
                </ul>
              </div>
            </div>
            <div class="split">
              <div class="split__side">
                <h2 class="h4">College Research Initiatives</h2>
              </div>
              <div class="split__side">
                <p>
                  <a href="#" class="button button--black-red button--block">
                    <span class="button__text">BioMachine Integration</span>
                    <span class="button__arrow">
                      {{ svgstore('arrow') }}
                    </span>
                  </a>
                  <br>
                  <a href="#" class="button button--black-red button--block">
                    <span class="button__text">Critical Infrastructure Sustainability and Security</span>
                    <span class="button__arrow">
                      {{ svgstore('arrow') }}
                    </span>
                  </a>
                  <br>
                  <a href="#" class="button button--black-red button--block">
                    <span class="button__text">Engineered Cyber-Social-Physical Systems</span>
                    <span class="button__arrow">
                      {{ svgstore('arrow') }}
                    </span>
                  </a>
                </p>
              </div>
            </div>
            <div class="split">
              <div class="split__side">
                <h2 class="h4">Department Research Areas</h2>
              </div>
              <div class="split__side">
                <ul>
                  <li><a href="#">Imaging, Instrumentation, and Signal Processing</a></li>
                  <li><a href="#">Biomechanics, Biotransport, and MechanoBiology</a></li>
                  <li><a href="#">Molecular, Cell, and Tissue Engineering</a></li>
                  <li><a href="#">Computational and Systems Biology</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <button class="accordion__toggle tabbed__toggle">{{ svgstore('cross', 'Toggle Accordion', 'accordion__toggle__icon') }}
        <span class="accordion__toggle__text">
          Publications
        </span></button>
        <div class="tabbed__content__item">
          <div class="tabbed__content__interior">
            <h2 class="h4">Selected Publications</h2>
            <ul class="list-spaced">
              <li>ClampFISH detects individual nucleic acid molecules using click chemistry-based amplification. S.H. Rouhanifard, I.A. Mellis, M. Dunagin, S. Bayatpour, C.L. Jiang, I. Dardani, O. Symmons, B. Emert, E. Torre, A. Cote, A. Sullivan, J.A. Stamatoyannopolous, A. Raj. Nature Biotechnology, 2018</li>
              <li><a href="#">Visualizing Adenosine to Inosine RNA Editing in Single Mammalian Cells</a>. I.A. Mellis, R. Gupte, A. Raj, S.H. Rouhanifard, Nature Methods,  2017</li>
              <li>Engineered glycocalyx regulates stem cell proliferation in murine crypt organoids. S.H. Rouhanifard, A. Lopez Aguilar, L. Meng, K.W. Moremen, P. Wu., Cell Chemical Biology, 2018</li>
              <li>CHoMP: A Chemoenzymatic Histology Method Using ‘Clickable’Probes. S.H. Rouhanifard, A. Lopez-Aguilar, P. Wu, ChemBioChem,  2014</li>
              <li>Chemical Probing of Glycans in Cells and Organisms. S.H. Rouhanifard, L.U. Nordstrøm, T. Zheng, P. Wu, Chem Soc Review, 2013</li>
              <li>Detection and Isolation of Dendritic Cells using Lewis X-functionalized Magnetic Nanoparticles. S.H. Rouhanifard, R. Xie, G Zhang, X. Sun, X. Chen, P. Wu, Biomacromolecules, 2012</li>
            </ul>
            <p>
              <a href="#" class="button button--black-red button--block">
                <span class="button__text">See Google Scholar Profile for all publications</span>
                <span class="button__arrow">
                  {{ svgstore('arrow') }}
                </span>
              </a>
            </p>
          </div>
        </div>
        <button class="accordion__toggle tabbed__toggle">{{ svgstore('cross', 'Toggle Accordion', 'accordion__toggle__icon') }}
        <span class="accordion__toggle__text">
          Related News
        </span></button>
        <div class="tabbed__content__item">
          <div class="tabbed__content__interior">
            {% include "modules/_list.html" %}
            <p>
              <a href="#" class="button button--black-red button--block">
                <span class="button__text">View all related news</span>
                <span class="button__arrow">
                  {{ svgstore('arrow') }}
                </span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
