.grid-container {
  @include container;
  padding: 0;
}

.grid-container-narrow {
  max-width: 64em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -2rem;
  > * {
    width: calc(100% - 2rem);
    margin: 0 0 0 2rem;
    @include mq(48em) {
      width: calc(50% - 2rem);
    }
    @include mq(64em) {
      width: calc(33.333% - 2rem);
    }
  }
}

.grid--3 {
  > * {
    width: calc(100% - 2rem);
    margin: 0 0 0 2rem;
    @include mq(64em) {
      width: calc(33.333% - 2rem);
    }
  }
}

.grid--feature {
  @include mq(48em) {
    margin-left: -3rem;
    margin-right: -3rem;
    > * {
      width: calc(100% - 2rem);
      @include mq(48em) {
        margin-left: 0;
        width: 50%;
      }
      @include mq(64em) {
        width: 33.333%;
      }
    }
  }
}

.grid--no-margin {
  margin: 0;
}

.grid--middle {
  align-items: center;
}

.grid--space {
  margin: 0 0 0 -2.5rem;
}

.grid--push {
  margin-top: 2.5rem;
}

.grid--tight {
  margin-left: 0;

  > * {
    width: 50%;
    margin: 0;

    @include mq(64em) {
      width: 33.333%
    }
  }
}

.grid--2 {
  > * {
    @include mq(64em) {
      width: calc(50% - 2rem);
    }
  }
}

.grid--1 {
  > * {
    @include mq(64em) {
      width: calc(100% - 2rem);
    }
  }
}

.grid--3-2 {
  > *:first-child {
    @include mq(64em) {
      width: calc(33% - 2rem);
    }
  }

  > *:last-child {
    @include mq(64em) {
      width: calc(66% - 2rem);
    }
  }
}

.grid--2-3 {
  > *:first-child {
    @include mq(64em) {
      width: calc(66% - 2rem);
    }
  }

  > *:last-child {
    @include mq(64em) {
      width: calc(33% - 2rem);
    }
  }
}

.grid--4 {
  > * {
    margin-bottom: 1rem;
    @include mq(64em) {
      margin-bottom: 0;
      width: calc(25% - 2rem);
    }
  }
}

.grid--5 {
  > * {
    margin-bottom: 1rem;
    @include mq(64em) {
      margin-bottom: 0;
      width: calc(20% - 2rem);
    }
  }
}

.grid--flush {
  margin-bottom: 0;
}

.grid--slider {
  &::after {
    content: 'flickity';
    display: none;
    @include mq(64em) {
      content: '';
    }
  }
  .flickity-slider > * {
    width: 90%;
    margin-right: 3rem;
    @include mq(48em) {
      width: 45%;
      margin-right: 3rem;
    }
  }
  .flickity-viewport {
    width: 100%;
  }
}

.grid__item__spacing {
  padding-bottom: 2rem;
  @include mq(48em) {
    padding-bottom: 0;
    .grid--3 & {
      padding-bottom: 2rem;
    }
  }
  @include mq(64em) {
    .grid--3 & {
      padding-bottom: 0;
    }
  }
  &:last-child {
    padding-bottom: 0;
  }
}
